@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}
nav{
    background: #323230;
    height:70px;
    width:100%;
    font-family: 'Anek Telugu', sans-serif;
}
label.logo{
    color:white;
    font-size: 45px;
    line-height: 90px;
    padding:0px 50px;
    font-weight:500;
    font-family: 'Anek Telugu', sans-serif;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 64.5px;
    margin:0 5px;
    margin-top: 5px;
}
nav ul li a{
    color:white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3;
    text-transform: uppercase;
}
a.active, a:hover{
background: #00B0F0;
transition: .5s;
}
.mountain{ 
    height:50;
    width: 100%;
}
.mimage{
  background-image: url(Mountainside2.png); 
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: cover;
}

/*---------Intro--------*/
.Intro{
    width: 100%;
    color: #5B9BD5;
    position: absolute;
    top: 49%;
    left: 43%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.Intro h1{
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    font-kerning: auto;
}

/*----Product Intro----*/
.pintro{
    background-color: white;
    width:100%;
    height:fit-content;
    margin: top;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 40px;
    bottom: 0;
}
.pintro h1{
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.pintro h2{
    font-size: 68px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0%;
}
.pintro h3{
    font-size: 68px;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0%;
    color: black;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding-top: 60px;
    padding-bottom:-20px;
    padding-right: 100px;
}
.Lbtn{
    display: inline-block;
    text-decoration: none;
    background-color: #0070C0;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    font-size: 20px;
    position: relative; 
    border-radius: 30px;
    font-family: Arial, sans-serif;
}
/*------Team Intro----*/
.tintro{
    background-color: white;
    width:100%;
    position: relative;
    height: fit-content;
    margin: right;
    margin-top:-20px;
    bottom: -5%;
    align-content: right;
    text-align: left;
    padding-top: 10px;
}
.tintro h1{
        font-size: 65px;
        font-family: 'Anek Telugu', sans-serif;
        color: #0070C0;
        padding-bottom: 20px;
    }
.tintro h3{
        font-size: 38px;
        font-family: 'Anek Telugu', sans-serif;
        font-style:normal;
        color: #525252;
        font-weight: 400;
}
.Tbtn{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #0070C0;
    border: 3px solid #0070C0;
    padding: 8px 16px;
    font-size: 20px;
    position: relative; 
    border-radius: 30px;
    font-family: Arial, sans-serif;
}
/*-----Footer-----*/
footer{
    background-color: #323230;
    width:100%;
    height:fit-content;
    margin: top;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 0%;
}
footer p{
    font-size: 14px;
    font-family: 'Anek Telugu', sans-serif; 
    color: white;
}
/*------------------The Team Page-------------------------*/
.tpg{
    width: 100%;
    background-color: #F0F0F0;
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 0px;
}
.tpg h1{
    font-size: 50px;
    color: #0070C0;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 18px;
}
.tpg p{
    font-size: 32px;
    font-family: 'Anek Telugu', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    color: black;
}
.tpg img{
    background-image: url(road.png); 
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: cover;
    padding-bottom: 0%;
}
.rintro{
    width: 100%;
    color: white;
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translate(0%, 0%);
}
.rintro h1{
    color: white;
    font-size: 82px;
    font-family: 'Open Sans', sans-serif;
    font-kerning: auto; 
    text-align: left;
    padding-left:120px;
}
.road{
    width: 100%;
}
.mot{
    width: 100%;
    background-color: white;
    position: relative;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 10px;
}
.mot h1{
    font-size: 44px;
    color: #0070C0;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 10px;
}
.mot p{
    font-size: 30px;
    font-family: 'Anek Telugu', sans-serif;
    text-align: center;
    color: black;
    padding-top: 20px;
}
/*-----Tbody-----*/
.Tbody{
    position: relative;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Trow{
    color: #F0F0F0;
    height: auto;
}
.Tcol{
    float: left;
    width: 25%;
    padding: 10px;
    min-height:  200px;
    height: 500px;
    border: 1px solid;
    text-align: center;
    background-color: white;
    border: 10px solid;
} 
.Tcol img{
    width: 60%;
    height: fit-content;
    background-color: transparent;
    image-resolution: 600dpi;
}
.Tbody h1{
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 4px;
}
.Tbody h2{
    font-size: 14px;
    color: #7C7C7C;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
}
.Tbody p{
    font-size: 14px;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
/*------------------Our Product Page-------------------------*/
.pimage{
width: 100%;
}
.peintro{
    width: 75%;
    color: white;
    position: absolute;
    top: 34%;
    padding-left: 70px;
}
.peintro h1{
    font-size: 50px;
    color: #404040;
    text-align: middle;
    font-family: 'Anek Telugu', sans-serif;
    padding-top: 10px;
    padding-bottom: 0px;

}
.peintro h2{
    font-size: 90px;
    color: #404040;
    text-align: middle;
    font-family: Arial, sans-serif;
    padding-top: 60px;
    padding-bottom: 10px;
}
.peintro h3{
    font-size: 38px;
    color: #404040;
    text-align: middle;
    font-family: 'Anek Telugu', sans-serif;
    padding-top: 160px;
    padding-bottom: 10px;
}
.bintro{
    width: 100%;
    background-color: white;
    height: fit-content; 
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
.bintro h1{
    font-size: 50px;
    color: #0070C0;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 0px;
}
.bintro p{
    font-size: 32px;
    font-family: 'Anek Telugu', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 4px;
    color: black;
}
.pbtn{
    display: inline-block;
    text-decoration: none;
    background-color: #0070C0;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    font-size: 20px;
    position: relative; 
    border-radius: 30px;
    font-family: Arial, sans-serif;
}
/*-----Bifold Video----*/
.bvideo{
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}
/*-----Bifold Features----*/
.B_fe{
    background-color: white;
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.brow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: #323230;
}
.bcol2{
    flex-basis: 50%;
    min-width: 300px;
    height: auto;
    padding-bottom: 0px;
    background-color: transparent;
}
.brow img{
    max-width: 100%;
    height: auto;
    padding-right: 0px;
    padding-top: 0%;
    padding-bottom: 0%;
}.brow h1{
    font-size: 40px;
    color: white;
    background-color: transparent;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.brow p{
    font-size: 30px;
    color: white;
    background-color: transparent;
    font-family: 'Anek Telugu', sans-serif;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
}
.cf{
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}
.cf img{
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.cf-text{
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
 
}
.cf-text h1{
    font-size: 40px;
    color: #0070C0;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-top: 40px;
    padding-bottom: 0px;
}
.cf-text p{
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Anek Telugu', sans-serif;
}
/*------------------User Manual Page-------------------------*/
.UMI{
    width: 100%;
    background-color: white;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.UMI p{
    font-size: 32px;
    font-family: 'Anek Telugu', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 4px;
    color: black;
}
.UMI h1{
    font-size: 50px;
    color: #0070C0;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 0px;
}
.UMIbtn{
    display: inline-block;
    text-decoration: none;
    background-color: #0070C0;
    color: white;
    border: 1px solid white;
    padding: 10px 18px;
    font-size: 20px;
    position: relative; 
    border-radius: 30px;
    font-family: Arial, sans-serif;
    
}
.UM{
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 70px;
}
/*------------------Contact Us Page-------------------------*/
.CUI{
    width: 100%;
    background-color: white;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.CUI h1{
    font-size: 50px;
    color: #0070C0;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 0px; 
}
.CUI p{
    font-size: 32px;
    font-family: 'Anek Telugu', sans-serif;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-top: 4px;
    color: black;
}
/*-----Contact Us Body-----*/
.CUB{
    background-color:white;
    width:100%;
    position: relative;
    height: fit-content;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 30px;

}
.CUB i{
    padding-left: 40px;
    color: #0070C0;
}
.CUB p{
    font-size: 25px;
    text-align: center;
    font-family: 'Anek Telugu', sans-serif;
    padding-left: 30px;
    padding-right: 30px;

}
.CI{
    background-color:#F0F0F0;
    width:100%;
    position: relative;
    height: fit-content;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.CI_btn{
    display: inline-block;
    text-decoration: none;
    background-color:white;
    color: #0070C0;
    border: 3px solid #0070C0;
    padding: 10px 18px;
    width: 20%;
    padding-left: 8px;
    font-size: 20px;
    text-align: center;
    position: relative; 
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.CUF{
    display: inline-block;
    text-decoration: none;
    background-color: #F9F9F9;
    color: black;
    border: 1px solid #DADADA; 
    width: 60%;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    position: relative; 
    font-family: Arial, sans-serif;
}
.CUF2{
    display: inline-block;
    text-decoration: none;
    background-color: #F9F9F9;
    color: black;
    border: 1px solid #DADADA; 
    width: 60%;
    padding: 180px 30px;
    padding-top: 6px;
    padding-left: 15px;
    font-size: 20px;
    position: relative; 
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
/*------------------FAQ Page-------------------------*/
.FAQ{
    width: 100%;
    background-color: white;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 100px;
}
.FAQ h1{
    font-size: 28px;
    text-align: left;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 0px;
}
.FAQ h2{
    font-size: 24px;
    text-align: left;
    font-family: 'Anek Telugu', sans-serif;
    padding-bottom: 0px; 
    padding-top: 0px;
}
.FAQ p{
    font-size: 18px;
    text-align: left;
    font-family: 'Anek Telugu', sans-serif;
    padding-top: 0px;
}
.FAQ img{
    max-width: 100%;
}
.FAQ mark{
    background-color: #CEE8F7;
    color: black;
}
